@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap");

:root {
  --primary-color: #004a6b;
  --secondary-color: #5c8b39;
  --accent1-color: #ff7f41;
  --accent2-color: #f4f4f2;

  --heading-font: "Rock Salt", serif;
  --paragraph-font: "Roboto", serif;

  --nav-background-color: #004a6b;
  --nav-link-color: #ff7f41;
  --nav-hover-link-color: #f4f4f2;
  --nav-hover-background-color: #5c8b39;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

main {
  padding: 0 50px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
  padding: 20px 0;
}

h2 {
  text-align: center;
}

p {
  margin: 1rem auto;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
}

a.btn-link {
  color: #ccc;
}

header {
  background-color: var(--nav-background-color);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.logo-box img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 2.2rem;
}

nav li {
  flex: 1 1 auto;
}

nav a {
  color: var(--nav-link-color);
  padding: 2.2rem;
  margin: 0;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  font-weight: 700;
  text-decoration: underline;
}

.home-hero {
  position: relative;
}

.home-hero img {
  width: 100%;
  height: auto;
}

.home-hero h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}

.hero {
  position: relative;
}

.hero .hero-img {
  display: block;
  width: 100%;
  height: auto;
}

.hero .trip-hero-img {
  height: 40vh;
}

.hero .overlay,
.home-hero .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.hero h1 {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero .trip-hero-heading {
  background-color: rgba(0, 0, 0, 0.5);
}

.hero article {
  position: absolute;
  top: 45%;
  margin: 50px;
  padding: 10px;
  background-color: rgba(0, 74, 107, 0.7);
}

.hero article .article-img {
  width: 15rem;
  float: right;
}

.hero article .article-text {
  color: var(--accent2-color);
  padding: 0;
}

section {
  margin: 2rem auto;
}

.newsletter,
.home-cta {
  text-align: center;
  margin-bottom: 20px;
}

.newsletter form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.newsletter .form-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  width: 100%;
}

.newsletter label {
  font-size: 1rem;
  margin-right: 10px;
  width: 30%;
  font-weight: 600;
}

.newsletter input[type="text"],
.newsletter input[type="email"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: ease;
}

.newsletter button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease;
}

.home-cta-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.home-cta-btn:hover {
  opacity: 80%;
}

.home-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.home-grid .grid-item {
  text-align: center;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  max-width: 500px;
}

.home-grid .grid-item img {
  width: 100%;
  height: 250px;
}

.trip-cta {
  text-align: center;
  padding: 0 10rem;
}

.trip-cta .trip-cta-btn,
.trip-fig figcaption .trip-btn,
.table-btn {
  padding: 1.5rem 12rem;
  font-size: 1.2rem;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: ease-in-out;
}

.newsletter button:hover,
.trip-cta .trip-cta-btn:hover,
.trip-fig figcaption .trip-btn:hover,
.table-btn:hover {
  opacity: 80%;
}

.history-layout {
  display: flex;
  justify-content: center;
}

.history-item {
  flex: 1 1 100%;
}

.history-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.adventure-layout,
.trip-layout .img-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trip-layout {
  text-align: center;
}

.trip-layout .img-box {
  margin: 2rem 0;
}

.adventure-fig,
.trip-fig {
  flex: 1 1 auto;
}

.adventure-fig,
.adventure-img,
.trip-fig,
.trip-img {
  max-width: 12rem;
  width: auto;
  align-self: stretch;
}

.trip-fig,
.trip-img {
  max-width: 22rem;
  text-align: center;
}

.trip-fig figcaption .trip-btn,
.table-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
}

.available-trips {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead,
tbody {
  width: 100%;
}

th,
td {
  padding: 10px;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

th,
td {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

th:last-child,
td:last-child {
  border-right: none;
}

.company-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.company-info p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.company-info ul li {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.company-info ul {
  list-style-type: none;
}

.contact-info {
  column-span: none;
}

.map {
  column-span: all;
  text-align: center;
}

.employee-profiles {
  margin-top: 30px;
}

.employee {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 0 10px;
}

.employee img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.contact-form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.contact-form .form-item {
  margin-bottom: 0.5rem;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form .form-check-item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem auto;
}

.contact-form input[type="checkbox"] {
  margin-right: 0.3rem;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.purpose-box p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.radio-box {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 1rem auto;
}

.radio-box label {
  margin-left: 1rem;
}

.contact-form button {
  width: 100%;
  background-color: var(--primary-color);
}

.contact-form button:hover {
  opacity: 80%;
}

footer {
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  flex: 2 1 auto;
  justify-content: end;
  align-items: center;
  color: var(--accent2-color);
}

.sociallinks {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
}

.sociallinks img {
  color: var(--nav-link-color);
}

.contact-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-footer a {
  color: var(--nav-link-color);
}

.contact-footer a:hover {
  color: var(--nav-hover-link-color);
}
