@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap");

:root {
  --primary-color: #004a6b;
  --secondary-color: #5c8b39;
  --accent1-color: #ff7f41;
  --accent2-color: #ffffff;

  --heading-font: "Rock Salt", serif;
  --paragraph-font: "Roboto", serif;

  --nav-background-color: #004a6b;
  --nav-link-color: #5c8b39;
  --nav-hover-link-color: #ff7f41;
  --nav-hover-background-color: #00668a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    margin: auto;
    padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
  padding: 20px 0;
}

a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero .hero-img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.7);
}

.hero article {
    position: absolute;
    top: 45%;
    margin: 50px;
    padding: 10px;
    background-color: rgba(0,74,107,.7);
}

.hero article .article-img {
    width: 15rem;
    float: right;
}

.hero article .article-text {
    color: var(--accent2-color);
    padding: 0;
}
