@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Rock+Salt&display=swap");

:root {
  --primary-color: #004a6b;
  --secondary-color: #5c8b39;
  --accent1-color: #ff7f41;
  --accent2-color: #f4f4f2;

  --heading-font: "Rock Salt", serif;
  --paragraph-font: "Roboto", serif;

  --nav-background-color: #004a6b;
  --nav-link-color: #ff7f41;
  --nav-hover-link-color: #f4f4f2;
  --nav-hover-background-color: #5c8b39;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--paragraph-font);
  max-width: 960px;
  margin: auto;
  padding: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font);
  color: var(--accent1-color);
  padding: 20px 0;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
}

header {
  background-color: var(--nav-background-color);
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
}

.logo-box img {
  margin: 0 0.25rem 0 1rem;
  width: 64px;
  height: auto;
}

nav ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 2.2rem;
}

nav li {
  flex: 1 1 auto;
}

nav a {
  color: var(--nav-link-color);
  padding: 2.2rem;
  margin: 0;
}

nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
  font-weight: 700;
  text-decoration: underline;
}

/* Hero Section */

.hero {
  position: relative;
}

.hero .hero-img {
  display: block;
  width: 100%;
  height: auto;
}

.hero h1 {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

.hero article {
  position: absolute;
  top: 45%;
  margin: 50px;
  padding: 10px;
  background-color: rgba(0, 74, 107, 0.7);
}

.hero article .article-img {
  width: 15rem;
  float: right;
}

.hero article .article-text {
  color: var(--accent2-color);
  padding: 0;
}

section {
  margin: 2rem auto;
}

/* History Section */

.history-layout {
  display: flex;
  justify-content: center;
}

.history-item {
  flex: 1 1 100%;
}

.history-item2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Adventure Section */

.adventure-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adventure-fig {
  flex: 1 1 auto;
}

.adventure-fig,
.adventure-img {
  max-width: 12rem;
  width: auto;
  align-self: stretch;
}

/* Contact Page */
.company-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.company-info p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.company-info ul li {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.company-info ul {
  list-style-type: none;
}

.contact-info {
  column-span: none;
}

.map {
  column-span: all;
  text-align: center;
}

.employee-profiles {
  margin-top: 30px;
}

.employee {
  display: inline-block;
  width: 30%;
  text-align: center;
  margin: 0 10px;
}

.employee img {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.contact-form {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 40px;
}

.contact-form .form-item {
  margin-bottom: 0.5rem;
}

.contact-form label {
  display: block;
  margin-bottom: 5px;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.contact-form .form-check-item {
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 1rem auto;
}

.contact-form input[type="checkbox"] {
  margin-right: 0.3rem;
}

.contact-form button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.purpose-box p {
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.radio-box {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 1rem auto;
}

.radio-box label {
  margin-left: 1rem;
}

.contact-form button {
  width: 100%;
  background-color: var(--primary-color);
}

.contact-form button:hover {
  opacity: 80%;
}

footer {
  background-color: var(--nav-background-color);
  display: flex;
  justify-content: space-between;
}

.footer-text {
  display: flex;
  flex: 2 1 auto;
  justify-content: end;
  align-items: center;
  color: var(--accent2-color);
}

.sociallinks {
  display: flex;
  flex: 1 1 auto;
  justify-content: end;
}

.sociallinks img {
  color: var(--nav-link-color);
}

.contact-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contact-footer a {
  color: var(--nav-link-color);
}

.contact-footer a:hover {
  color: var(--nav-hover-link-color);
}
