.container {
    background-color: #FCA6C9;
    width: 60vw;
    margin: auto;
    padding: 10px;
    text-align: center;
}

.container h1 {
    color: white;
}

.container h1:hover {
    color: black;
}

.container ol li {
    font-weight: 700;
}

.container img {
    width: 15%;
}

.container q {
    display: block;
    font-size: 3.5em;
}

.container .quote-box {
    padding-right: 20em;
    padding-left: 20em;
}